<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gig: Budgets</title>
  <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
</head>
<body>
<div class="card">
  <div class="row">
    <div class="col-10">
      <h2 class="card-header col-10">
        Dashboard
      </h2>
    </div>
    <div class="col-2">
      <i class="fas fa-plus"></i>
    </div>
  </div>

  <div class="list-group list-group-flush-2x">
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">(Total Amount you need to make today)</a>
    <a href="#"  class="list-group-item list-group-item-action list-group-item-light">(Starting Time)</a>
    <a href="#"  class="list-group-item list-group-item-action list-group-item-light">(Starting Mileage)</a>
  </div>
</div>
</body>
</html>